@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData"
                           DefaultLayout="@typeof(Components.Layout.MainLayout)" />
            </ChildContent>
            <ErrorContent Context="ex">
                <div style="color:red;padding:12px">
                    Error de UI: @ex.Message
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
            <p>Ruta no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
